*.meta
*.apk
*.ipa
*.iml
**/build/
**/.DS_Store
RudderUnityPluginDemo/Assets/Adjust/
RudderUnityPluginDemo/Assets/Amplitude/
RudderUnityPluginDemo/Assets/Editor/
RudderUnityPluginDemo/Assets/Firebase/
RudderUnityPluginDemo/Assets/Plugins/Android/Firebase/
RudderUnityPluginDemo/Assets/Plugins/iOS/Firebase/
RudderUnityPluginDemo/Assets/Plugins/iOS/Amplitude/
RudderUnityPluginDemo/Assets/Plugins/Android/AndroidManifest.xml
RudderUnityPluginDemo/Assets/Plugins/Android/amplitude-unity-2.20.0.jar
RudderUnityPluginDemo/Assets/GoogleService-Info.plist